---
http_interactions:
- request:
    method: get
    uri: https://ci.nii.ac.jp/books/opensearch/search?format=rss&isbn=0744521815
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?><rdf:RDF xml:lang="ja" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:cinii="http://ci.nii.ac.jp/ns/1.0/" xmlns="http://purl.org/rss/1.0/">
        <channel rdf:about="http://ci.nii.ac.jp/books/opensearch/search?isbn=0744521815&amp;format=rss">
        <title>CiNii Books OpenSearch - 0744521815</title>
        <description>CiNii Books OpenSearch - 0744521815</description>
        <link>http://ci.nii.ac.jp/books/opensearch/search?isbn=0744521815&amp;format=rss</link>
        <dc:date>2019-01-18T13:44:30+09:00</dc:date>
        <opensearch:totalResults>0</opensearch:totalResults>
        <opensearch:startIndex>0</opensearch:startIndex>
        <opensearch:itemsPerPage>0</opensearch:itemsPerPage>
        <items>
        <rdf:Seq/>
        </items>
        </channel>
        </rdf:RDF>
  recorded_at: Fri, 18 Jan 2019 04:44:30 GMT
[...]
