<div class="row">
<div class="col-md-9">
<h1><%= t('page.editing', model: t('activerecord.models.license')) -%></h1>
<div class="card-body bg-light">
  <%= render 'form' %>
</div>
</div>

<div class="col">
  <ul>
    <li><%= link_to t('page.show'), @license -%></li>
    <li><%= link_to t('page.back'), licenses_path -%></li>
  </ul>
</div>
