<h1>Editing Item Custom Property</h1>

<%= render 'form', item_custom_property: @item_custom_property %>

<%= link_to 'Show', @item_custom_property %> |
<%= link_to 'Back', item_custom_properties_path %>
