<h4><%= t('manifestation.periodical') -%></h4>
<ul>
  <%- @periodical_facet.each do |facet| -%>
    <% facet.value ? facet_periodical = true : facet_periodical = false %>
    <li>
      <%- if @periodical == facet_periodical -%><strong><%- end -%>
      <%= link_to localized_boolean(facet.value), url_for(params.merge(:page => nil, :periodical => facet.value.to_s, :view => nil)) -%>
      (<%= facet.count -%>)
      <%- if @periodical == facet_periodical -%></strong><%- end -%>
    </li>
  <%- end -%>
  <%- unless @periodical.nil? -%>
    <li><%= link_to t('page.remove_this_facet'), params.merge(:periodical => nil, :page => nil, :view => nil) -%></li>
  <%- end -%>
</ul>
