<h1>Editing Manifestation Custom Property</h1>

<%= render 'form', manifestation_custom_property: @manifestation_custom_property %>

<%= link_to 'Show', @manifestation_custom_property %> |
<%= link_to 'Back', manifestation_custom_properties_path %>
