<h1><%= t('page.new', model: t('activerecord.models.manifestation_custom_property')) -%></h1>

<%= render 'form', manifestation_custom_property: @manifestation_custom_property %>

<%= link_to t('page.back'), manifestation_custom_properties_path %>
