= simple_form_for(@language, validate: true) do |f|
  = f.error_messages
  .form-group
    = f.label :name
    | :
    br
    = @language.name
  .form-group
    = f.label :native_name
    br
    = f.text_field :native_name, class: 'form-control'
  .form-group
    = f.label :display_name
    br
    = f.text_area :display_name, class: 'form-control'
  .form-group
    = f.label :iso_639_1
    br
    = f.text_field :iso_639_1, class: 'form-control'
  .form-group
    = f.label :iso_639_2
    br
    = f.text_field :iso_639_2, class: 'form-control'
  .form-group
    = f.label :iso_639_3
    br
    = f.text_field :iso_639_3, class: 'form-control'
  .form-group
    = f.label :note
    br
    = f.text_area :note, class: 'form-control'
  .form-control
    = f.submit class: 'btn btn-default'
