<div class="row">
<div class="col-md-9">
<h1><%= t('page.new', model: t('activerecord.models.language')) -%></h1>
<div class="card-body bg-light">
  <%= render 'form' %>
</div>
</div>

<div class="col">
  <ul>
    <li><%= link_to t('page.back'), languages_path -%></li>
  </ul>
</div>
