<div class="row">
  <div class="col-md-9">
    <h1><%= t('page.editing', model: t('activerecord.models.frequency')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li><%= link_to t('page.show'), @frequency -%></li>
        <li><%= link_to t('page.back'), frequencies_path -%></li>
      </ul>
    </div>
  </div>
</div>
