<%- if policy(manifestation).show? && manifestation.attachment.attached? -%>
  <tr>
    <td><%= t('manifestation.attachment_file') -%>:</td>
    <td><%= link_to manifestation.attachment.filename, manifestation_path(format: :download) -%></td>
  </tr>
<%- end -%>
