<h3><%= t('page.other_format') %></h3>

<ul>
  <li><%= link_to 'RDF/XML', manifestation_url(@manifestation, format: :rdf) %></li>
  <li><%= link_to 'MODS', manifestation_url(@manifestation, format: :mods) %></li>
  <li><%= link_to 'TSV', manifestation_url(@manifestation, format: :txt) %></li>
</ul>
