<div class="nested-fields">
  <div class="form-row">
    <div class="form-group col-md-3">
      <%= f.select(:identifier_type_id, @identifier_types.collect{|i| [i.display_name, i.id]}, {}, {class: 'form-control'}) %>
    </div>
    <div class="form-group col-md-6">
      <%= f.text_field :body, class: 'form-control', style: 'ime-mode: disabled' -%>
    </div>
    <div class="form-group col-md-3">
      <%= link_to_remove_association t('page.remove'), f, data: {confirm: t('page.are_you_sure')} %><br />
    </div>
  </div>
</div>
