      = f.select(:identifier_type_id, @identifier_types.collect{|i| [i.display_name.localize, i.id]}, {}, {class: 'form-control'})
      = f.text_field :body, class: 'form-control', style: 'ime-mode: disabled'
      = link_to_remove_association t('page.remove'), f, {data: {confirm: t('page.are_you_sure')}}

