script
  /|  $(function(){ $('a#shelf_item_<ruby code="=item.id"></ruby>').data( 'powertip', 'shelf: <ruby code="=item.shelf.name"></ruby>' ); $('a#library_item_<ruby code="=item.id"></ruby>').data( 'powertip', 'library: <ruby code="=item.shelf.library.name"></ruby>' ); $('a#shelf_item_<ruby code="=item.id"></ruby>').powerTip({ placement:'e', mouseOnToPopup:true }); $('a#library_item_<ruby code="=item.id"></ruby>').powerTip({ placement:'e', mouseOnToPopup:true }); }); 
