<div class="row">
  <div class="col-md-9">
  <h1><%= t('page.new', model: t('activerecord.models.resource_export_file')) -%></h1>

    <p><%= t('export.are_you_sure_to_export') %></p>

    <%= render 'form' %>

  </div>

  <div class="col">
    <ul>
      <li><%= link_to t('page.listing', model: t('activerecord.models.resource_export_file')), resource_export_files_path -%></li>
    </ul>
  </div>
</div>
