<div class="row">
<div class="col-md-9">
<h1><%= t('page.new', model: t('activerecord.models.produce')) -%></h1>
<div class="card-body bg-light">
  <%= render 'form' %>
</div>
</div>

<div class="col">
  <ul>
    <%- if @produce.agent -%>
      <li><%= link_to t('page.listing', model: t('activerecord.models.agent')), manifestations_path(publisher_id: @produce.agent_id) -%></li>
    <%- end -%>
    <%- if @produce.manifestation -%>
      <li><%= link_to t('page.listing', model: t('activerecord.models.manifestation')), agents_path(manifestation_id: @produce.manifestation_id) -%></li>
    <%- end -%>
  </ul>
</div>
