<div class="field">
  <%= f.label :default_custom_item_label -%><br />
  <%= f.text_area :default_custom_item_label -%>
</div>

<div class="field">
  <%= f.label :my_networks -%><br />
  <%= f.text_area :my_networks -%>
</div>
