<div class="field">
  <%= f.label :default_custom_manifestation_label -%><br />
  <%= f.text_area :default_custom_manifestation_label -%>
</div>

<div class="field">
  <%= f.label :default_custom_item_label -%><br />
  <%= f.text_area :default_custom_item_label -%>
</div>
