#content_detail.ui-corner-all.ui-widget-content
  h1.title
    = t('page.showing', model: t('activerecord.models.picture_file'))
  #content_list
    p#notice
      = notice
    p
      strong
        = t('page.attachable')
        | :
      = link_to h("#{(@picture_file.picture_attachable_type)}/#{(@picture_file.picture_attachable_id)}"), @picture_file.picture_attachable if @picture_file.picture_attachable_type?
    p
      strong
        = t('activerecord.attributes.picture_file.picture_file_size')
        | :
      = @picture_file.picture_file_size
    p
      strong
        = t('activerecord.attributes.picture_file.picture_content_type')
        | :
      = @picture_file.picture_content_type
    p
      strong
        = t('activerecord.attributes.picture_file.picture_file_name')
        | :
      = link_to @picture_file.picture_file_name, picture_file_path(@picture_file, format: :download, size: 'original')
      br
      = render 'picture_files/link', picture_file: @picture_file
    p
      strong
        = t('activerecord.attributes.picture_file.width')
        | :
      = @picture_file.picture.width
    p
      strong
        = t('activerecord.attributes.picture_file.height')
        | :
      = @picture_file.picture.height
    p
      strong
        = t('activerecord.attributes.picture_file.picture_fingerprint')
        | :
      = @picture_file.picture_fingerprint
    p
      strong
        = t('activerecord.attributes.picture_file.picture_updated_at')
        | :
      = l(@picture_file.picture_updated_at) if @picture_file.picture_updated_at
#submenu.ui-corner-all.ui-widget-content
  ul
    li
      = link_to t('page.edit'), edit_picture_file_path(@picture_file)
    - if @picture_file.picture_attachable_type?
      - case @picture_file.picture_attachable.class.name when "Shelf"
        li
          = link_to t('page.listing', model: t('activerecord.models.picture_file')), picture_files_path(shelf_id: @picture_file.picture_attachable_id)
      | <ruby code="when "Manifestation""> 
      li
        = link_to t('page.listing', model: t('activerecord.models.picture_file')), picture_files_path(manifestation_id: @picture_file.picture_attachable_id)
    | <ruby code="when "Agent""> 
    li
      = link_to t('page.listing', model: t('activerecord.models.picture_file')), picture_files_path(agent_id: @picture_file.picture_attachable_id)
    - else
      - if defined?(EnjuEvent)
        - if @picture_file.picture_attachable.class.name == 'Event'
          li
            = link_to t('page.listing', model: t('activerecord.models.picture_file')), picture_files_path(event_id: @picture_file.picture_attachable_id)
        - else
          li
            = link_to t('page.listing', model: t('activerecord.models.picture_file')), picture_files_path
      - else
        li
          = link_to t('page.listing', model: t('activerecord.models.picture_file')), picture_files_path
      - - end
    - else
      li
        = link_to t('page.listing', model: t('activerecord.models.picture_file')), picture_files_path
